<div
  *ngIf="msgFormError != ''"
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
>
  <strong>ERRO!</strong> {{ msgFormError }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="form-main">
  <div class="form-main-container">
    <img class="form-main-img" src="../../assets/img/logo.png" />
    <form [formGroup]="formCredentials">
      <div class="mb-12">
        <span class="form-group has-float-label">
          <input
            type="text"
            class="form-control"
            aria-label="Default"
            placeholder=" "
            formControlName="email"
            aria-describedby="inputGroup-sizing-default"
            required
          />
          <label>Email ou Login</label>
        </span>
        <span class="form-group has-float-label">
          <input
            [type]="hide ? 'password' : 'text'"
            class="form-control btn-password"
            aria-label="Default"
            placeholder=" "
            formControlName="password"
            aria-describedby="inputGroup-sizing-default"
          />

          <label>Senha</label>
          <div (click)="hide = !hide">
            <i matSuffix class="input-pass material-icons">{{
              hide ? "visibility" : "visibility_off"
            }}</i>
          </div>
        </span>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1"
          >Lembrar minha senha</label
        >
      </div>
      <div class="form-group">
        <button
          type="button"
          class="btn btn-link form-control col-sm-6"
          routerLink="/cadastrar"
        >
          Criar Conta
        </button>
        <button
          (click)="logar()"
          type="button"
          class="btn btn-primary form-control col-sm-6"
          [disabled]="
            formCredentials.value.email == null ||
            formCredentials.value.email == '' ||
            formCredentials.value.password == null ||
            formCredentials.value.password == ''
          "
        >
          Acessar
        </button>
      </div>
    </form>
  </div>
</div>
