.navbar-expand-sm {
  padding: 0;
}
.table-head {
  color: #a8a8a8;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}
.table-title {
  margin-bottom: 0;
  padding-top: 4px;
}

.btn-modal {
  float: right;
  width: 138px;
  margin-bottom: 10px;
}
.btn-icon {
  float: left;
  margin-left: 2px;
  margin-top: 5px;
}
.modal-title {
  font-size: 18px;
}
.navbar-logo {
  width: 120px;
  margin-top: -10px;
}
.btn-modal-close {
  font-weight: 600;
}
.navbar {
  padding-top: 10px;
}
.btn-desmarcar {
  padding: 0;
}

.btn-desm {
  width: 100px;
}
